img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-padding {
    padding: 2%;
    text-align: center;
}

.p-center {
    text-align: center;
}

#jsGrid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    color: white;
    text-align: center;
}

#footer-img:hover {
    opacity: 100%;
}

#footer-img {
    width: 75px;
    height: 75px;
    opacity: 50%;
}