name: Job B
on:
  push:
jobs:
  job_b:
    runs-on: ubuntu-latest
    name: Job B
    needs: ${{ github.event.inputs.job_a_id }}
    steps:
      - name: Step 1
        run: echo "Job A output: ${{ needs.job_a.outputs.job_a_output }}"
      - name: Step 2
        run: echo "Good job!"